*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}   

:root{
    --colorBackground: #f0f0f0;
    --colorRed: #9C0000;
    --colorBody: #494949;
}
body{
    background-color: var(--colorBody);
    width: 100%;
}

/*CENTRALIZADORES*/
.display--flex{
    display: flex;
}
.flex--column{
    flex-direction: column;
}
.justify--center{
    justify-content: center;
}
.align--center{
    align-items: center;
}
.space--evenly{
    justify-content: space-evenly;
}
.display--grid{
    display: grid;
}



/*MOBILE FIRST*/
@media screen and (max-width: 900px){
    header{
        width: 100vw;
        max-width: 400px;
        height: 75px;
        background-color: var(--colorRed);
        margin: 0 auto;
        
    }
    .container--principal{
        width: 100vw;
        max-width: 400px;
        padding: 10px;
        margin: 0 auto;
        background-color: var(--colorBackground);
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        
    }
    .container--principal div{
        padding: 5px 10px;
    }
    .input--box{
        grid-column: span 3;
    }
    .input--box input{
        border: none;
        outline: none;
        width: 100%;
        height: 40px;
        margin: 5px 0;
        border-radius: 10px;
        padding: 5px 10px;
    }

    .items--box{
        grid-column: span 3;
        border: 1px solid red;
        display: flex;
    }
    .items--box input{
        border: none;
        outline: none;
        width: 50px;
        height: 40px;
        margin: 5px 0;
        border-radius: 10px;
        padding: 5px 10px;
    }
    
    .items--box select{
        border: none;
        height: 40px;
        margin: 5px 0;
        background-color: white;
        border-radius: 10px;
        padding: 5px 10px;
    }
    
}

@media screen and (min-width: 900px){
    *{
        display: none;
    }
}